.crus{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    
} 
.colore{
    background-color:#fffee8 ;
}

img{
    text-align: center;
}

.par{
    font-family: 'Overpass Mono';
    margin-top: 40px;
    text-align: left;
    font-size: 18px;
}